<!DOCTYPE html>
<html>
<head>
  <title>自己的股票自己選</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>-->
  <meta charset='utf-8'>
  <meta content='description' name='stock search'/>
  <meta name='viewport' content='width=device-width; initial-scale=1'/>
  <link href='/view-source/css/bootstrap.min.css' rel='stylesheet'/>
  <link href='/view-source/css/bootstrap-theme.css' rel='stylesheet'/>
  <link href='/view-source/css/layout.css' rel='stylesheet'/>
  <link href='/view-source/css/index.css' rel='stylesheet'/>
  <link href='/view-source/css/search.css' rel='stylesheet'/>
  <link rel='shortcut icon' href='/view-source/source/favicon.ico'/>
  <script src='/view-source/js/jquery.js'></script>
  <script src='/view-source/js/bootstrap.min.js'></script>

</head>
<body class='well'>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">MyStock</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%=form_tag "/index/search" , :class => "navbar-form navbar-right" , :role => "search" , :method => 'get' do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="搜尋" name='s'>
              </div>
              <button type="submit" class="btn btn-default">確認</button>
              <% end %>
          </li>
          <li><a href="#">登入 / 註冊</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<%= yield %>

  <footer>
      <div class='footer-title'><h2>MyStock 2014</h2></div>
  </footer>
</body>
</html>
