<h2>修改我的帳號 <!--<%= resource_name.to_s.humanize %>--></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :信箱 %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>正在等待確認： <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :密碼 %> <i>(若您不想變更，請留空白)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :密碼確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :目前密碼 %> <i>(請輸入您的密碼以確認變更)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "變更" %></div>
<% end %>

<h3>刪除我的帳號</h3>

<p>您想要刪除帳號嗎？<%= button_to "刪除我的帳號", registration_path(resource_name), data: { confirm: "確定？" }, method: :delete %></p>

<%= link_to "上一頁", :back %>
