<h2 id='home-title'><%= current_user.email %> 的股票庫 </h2>
<hr style='width:80%;border:solid 5px;border-radius:5px'>
<ul class='selection'>
<% if !@user_item.empty? %>
  <% @user_item.each do |u| %>
      <li class='box show-my-stock' onclick='location.href="/index/search?s=<%= u.item_id %>"' style='cursor:pointer'>
          <h3><%= u.name.gsub!(/[^0-9A-Za-z.\- ]/, '') %>（<%= u.item_id %>）</h3><hr>
          <p>收盤價：<%= u.close %></p>
          <%= button_to("刪除" , {:action => 'destory' , :u => u.id } , :class => "btn btn-danger") %>
      </li>
  <% end %>
<% else %>
<h3 style='text-align:center'>目前還沒有我的股票</h3>
<% end %>
  <a href='#' class='template'><li class='box add-stock' >+</li></a>
</ul>
<div class='searching-box'>
  <h3 id='add-title'>新增</h3><hr>
  <%= form_tag url_for(:action =>'search') , :role => 'search' , :method => 'get' do %>
    <input type="text" class="form-control" id='add-input' placeholder='股票代號 / 公司名稱' name='search'/>
    <button type='submit' class='btn btn-primary' id='add-submit' >添加到我的選單</button>
  <% end %>
  <%= @hi %>
</div>


