<div class='row' id='main-seen'>
  <img class='col-lg-6' id='main-image' src='/view-source/source/choose-stock.jpg'>
  <h1 id='superbig-title' class='col-lg-6'>自己的股票<br/>自己選</h1><br>
  <a href='#' class="btn btn-primary" id='go-self'>前往自選股</a>
</div>

<div class='row news-block'>
  <div class='news'>
    <h2>本日最大漲幅</h2><hr>
    <div>
      <p><%= @most_grow_name %>（<%= @most_grow_id %>）</p>
      <p>本日漲幅：<span style='color:red;font-weight:bold'><%= @most_grow_percent %> ↑ </span></p>
      <p>開盤價：<%= @most_grow_open %>&nbsp;&nbsp;&nbsp;收盤價：<%= @most_grow_close %></p>
    </div>
  </div>
  <div class='news '>
    <h2>本日最大跌幅</h2><hr>
    <div>
      <p><%= @most_decrease_name %>（<%= @most_decrease_id %>）</p>
      <p>本日跌幅：<span style='color:green;font-weight:bold'><%= @most_decrease_percent %> ↓ </span></p>
      <p>開盤價：<%= @most_decrease_open %>&nbsp;&nbsp;&nbsp;收盤價：<%= @most_decrease_close %></p>
    </div>
  </div>
  <div class='news'>
    <h2>本日成交最高</h2><hr>
    <div>
      <p><%= @most_close_name %>（<%= @most_close_id %>）</p>
      <p>開盤價：<%= @most_close_open %>&nbsp;&nbsp;&nbsp;收盤價：<%= @most_close_close %></p>
    </div>
  </div>
  <div class='news'>
    <h2>本日最大成交量</h2><hr>
    <div>
      <p><%= @most_volume_name %>（<%= @most_volume_id %>）</p>
      <p>成交量：<%= @most_volume_v %></p>
      <p>開盤價：<%= @most_volume_open %>&nbsp;&nbsp;&nbsp;收盤價：<%= @most_volume_close %></p>
    </div>
  </div>
</div>
